In [ ]:
###1
UNLITWOMEN=bs=float(input("enter the salary of Ramesh"))
da= 40/100*bs
hra= 20/100*bs
GS=bs+da+hra
print (GS)

In [11]:
###2
km= int(input("Enter the distance between to cities in kilometer"))
m=km*1000
print ('value in meter',m)
inch=39.37*m
print ('value in inches',inch)
feet=3.281*m
print('value in feet',feet)
cm=m/100
print ("value in centimeter",cm)

Enter the distance between to cities in kilometer 30

value in meter 30000
value in inches 1181100.0
value in feet 98430.0
value in centimeter 300.0

In [5]:
3.### Student Marks in 5 different subjects
##Total=500(assumING subject maximum marks is 100)
sub1=float(input('marks obtained in subject1-'))
sub2=float(input('marks obtained in subject2-'))
sub3=float(input('marks obtained in subject3-'))
sub4=float(input('marks obtained in subject4-'))
sub5=float(input('marks obtained in subject5-')) 
AG=sub1+sub2+sub3+sub4+sub5
print('aggregate Marks',AG)
PM=AG/500*100
print('percentage',PM)

marks obtained in subject1- 90
marks obtained in subject2- 89
marks obtained in subject3- 89.8
marks obtained in subject4- 60
marks obtained in subject5- 77

aggregate Marks 405.8
percentage 81.16

In [8]:
4.####CONVERT TEMPRATURE INTO CENTIGRADE DEGREES

TEMP= float(input('Enter the temprature of a city in fahrenhite in degrees'))
c=5/9*(TEMP-32)
print ('temperature in centigrade degrees',c,'C')

Enter the temprature of a city in fahrenhite in degrees 45

temperature in centigrade degrees 7.222222222222222 C

In [11]:
5.##Find the Area and perimeter of rectangle
##Find the circumfrence and area of circle

l=float(input('enter the length of the rectangle'))
b=float(input('enter the breadth of rectangle'))
r=float(input('enter the radius of circle'))
A=l*b
print('Area of a rectangle-',A)
P=2*l+b
print('perimeter of rectangle-',P)
Ar=22/7*r*r
print('Area of a circle-',Ar)
Cr= 2*22/7*r
print('circumfrence of the circle-',Cr)

enter the length of the rectangle 34
enter the breadth of rectangle 35
enter the radius of circle 5

Area of a rectangle- 1190.0
perimeter of rectangle- 103.0
Area of a circle- 78.57142857142857
circumfrence of the circle- 31.428571428571427

In [20]:
###6
C= (input('Enter the first no.:'))
D= (input('Enter the Second no.:'))
temp=C
C=D
D=temp
print('The value of  C after swapping:{}'.format(C))
print('The value of D after swapping:{}'.format(D))

Enter the first no.: 23
Enter the Second no.: 34

The value of  C after swapping:34
The value of D after swapping:23

In [9]:
7.###Enter 5 digits and calculate sum of digits:
n=int(input('Enter 5 digits number'))
sum=0
a=n%10
n=n//10
sum=sum+a
a=n%10
n=n//10
sum=sum+a

a=n%10
n=n//10
sum=sum+a

a=n%10
n=n//10
sum=sum+a
a=n%10
n=n//10
sum=sum+a



print("sum of the digits:",sum)

Enter 5 digits number 23456

sum of the digits: 20

In [8]:
8.###Reverse the Number
n=int(input('Enter the five digit number'))
revnum=0
a=n%10
n=n//10
revnum=revnum+a*10000
a=n%10
n=n//10
revnum=revnum+a*1000
a=n%10
n=n//10
revnum=revnum+a*100
a=n%10
n=n//10
revnum=revnum+a*10
a=n%10
n=n//10
revnum=revnum+a
print('Reverse of five digit numbers:',revnum)

Enter the five digit number 12345

Reverse of five digit numbers: 54321

In [2]:
9.###Sum of first and last digit 
num= int(input('Enter four digits number'))
sum=0
n=num//1000
sum =sum+n
n=num%10
sum=sum+n
print('sum of first digit and last digit=',sum)

Enter four digits number 1989

sum of first digit and last digit= 10

In [3]:
10.####total no. of illiterate men and women
pop=80000
menpop=( 52*pop)/100
womenpop= pop- menpop
litpop=(45*pop)/100
litmen= (35*pop)/100
litwomen = litpop-litmen
unlitwomen = menpop-litmen
unlitmen = menpop-litmen
unlitwomen = womenpop-litwomen
print('total population:',pop)
print('total men :',menpop)
print('total women:',womenpop)
print('total literacy :',litpop)
print('total literacymen :',litmen)
print('total literacy women :',litwomen)
print('total not literacymen :',unlitmen)
print('total not literacy women :',unlitwomen)

total population: 80000
total men : 41600.0
total women: 38400.0
total literacy : 36000.0
total literacymen : 28000.0
total literacy women : 8000.0
total not literacymen : 13600.0
total not literacy women : 30400.0

In [9]:
11.##currency
amt = int(input("Enter the Amount to be Withdrawn :"))
hund= amt//100
amt = amt%100
fif = amt//50
amt = amt%50
ten = amt//10
print("No of Hundred Notes :",hund)
print("No of Fifty Notes :",fif)
print("No of Ten Notes :",ten)

Enter the Amount to be Withdrawn : 750

No of Hundred Notes : 7
No of Fifty Notes : 1
No of Ten Notes : 0

In [4]:
12.####find out price of an item
sp=int(input('enter the selling price of 15items'))
p=float(input('enter the profit of total items'))
cp=sp-p
print('cost price of total items',cp)
##1item price is r
r= cp/15
print('cost price of an item:',r)

enter the selling price of 15items 3456
enter the profit of total items 666

cost price of total items 2790.0
cost price of an item: 186.0

In [7]:
13.###
num = int(input("Enter the Five Digits :"))
onum=num
sum = 0
a = (num // 10000)+1
num = num % 10000
sum=sum+(a*10000);
 
a = (num // 1000)+1
num = num % 1000
sum = sum+(a*1000)
 
a = (num // 100)+1
num = num % 100
sum = sum+(a*100)
 
 
a = (num // 10)+1
num = num % 10
sum = sum+(a*10)
 
 
a = num+1
sum = sum+a
print("Old Number :",onum)
print("New Number :",sum)
 
num = int(input("Enter the Five Digits :"))
sum = 0
a = (num // 10000)+1
num = num % 10000
sum=sum+a;
 
a = (num // 1000)+1
num = num % 1000
sum = (sum*10)+a
 
a = (num // 100)+1
num = num % 100
sum = (sum*10)+a
 
 
a = (num // 10)+1
num = num % 10
sum = (sum*10)+a
 
 
a = num+1
sum = (sum*10)+a
print(sum)

Enter the Five Digits : 12391

Old Number : 12391
New Number : 23502

Enter the Five Digits : 12459

23570